.logo
{
    display: flex;
    align-items: center;
    font-size: 1.7rem;
    font-weight: 600;
    column-gap: 0.5rem;
    color: #d5d5d5e8;
    position: relative;
    left: 100px;
    
}
.logo .bx
{
    font-size: 35px;
    color: #ee00ffe8;
    padding-top: 1px;
}
.separator
{
    border-right: 2px solid #ee00ffe8;
    height: 30px;
}
.header-devices
{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    transition: 0.5s;
    background-color: black;
}
.navbar
{   padding: 17px 300px;
    display: flex;
    column-gap: 3.5rem;
}
.navbar a{
  font-size: 1rem;
  font-weight: 500;
  color: white;
  padding: 0.5rem 1rem;
}
.navbar a:hover,.navbar .mobile_section 
{
  background-color: #ee00ffe8;
  border-radius: .2rem;
  transition: background 0.5s;
}
.wishlist{
  height: 30px;
  width: 30px;
  position: relative;
  top: -3px;
}
.laptops
{
    padding-top: 30px;
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;   
}
.laptops-container
{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(260px,auto));
    gap: 1.5rem;
    margin-top: 2rem;
}
.laptops-container .box{
    padding: 20px;
    box-shadow: 1px 2px 11px 4px rgba(2, 116, 182, 0.185);
    border-radius: 0.5rem;
    position: relative;
}
.laptops-container .box img{
    width: 100%;
    height: 200px;
    object-fit: contain;
    object-position: center;
    position: relative;

}
.laptops-container .box span{
    font-size: 13px;
    font-weight: 500;
    color: white;
}
.laptops-container .box h2{
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
}

.heading  h1
{
  padding-top: 50px;
  padding-bottom: 20px;
  color: aquamarine;
  font-size: 30px;
}

.bt
{
    color: #4bbcf1e8;
    font-size: 30px;
    
}
.heading
{
    margin-bottom: 70px;
    margin-top: 70px;
}
.laptops-container .box .price
{
    font-size: 1rem;
font-weight: 600;
    margin-top: 0.5rem;
    color: #ee00ffe8;
}
.laptops-container .box .price span{
    color: var(--text-color);
}
.laptops-container .box .bx-cart-alt
{
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 10px;
    background: var(--green-color);
    color: var(--bg-color);
    font-size: 20px;
    border-radius: 0.5rem 0 0.5rem 0;
    cursor: pointer;
}
.laptops-container .box .bx-cart-alt:hover
{
    background-color: #ee00ffe8;
}
.laptops-container .box .bx-heart
{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 20px;
    color: #ee00ffe8;
}
.laptops-container .box .discount
{
    position: absolute;
    top: 1rem;
    left: 0rem;
    color: var(--bg-color);
    padding: 4px 18px;
    background: #ee00ffe8;
    clip-path: polygon(100% 0%, 75% 50%,100% 100%,0 100%,0% 50%,0 0);
}
.mobiles
{
    padding-top: 30px;
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;   
}
.mobiles-container
{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(260px,auto));
    gap: 1.5rem;
    margin-top: 2rem;
}
.mobiles-container .box{
    padding: 20px;
    box-shadow: 1px 2px 11px 4px rgba(14, 182, 2, 0.16);
    border-radius: 0.5rem;
    position: relative;
}
.mobiles-container .box img{
    width: 100%;
    height: 200px;
    object-fit: contain;
    object-position: center;
    position: relative;

}
.mobiles-container .box span{
    font-size: 13px;
    font-weight: 500;
    color: white;
}
.mobiles-container .box h2{
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
}

.heading  h1
{
  padding-top: 0px;
  padding-bottom: 0px;
  border-radius: 200px;
  padding-left: 5px;
  margin-top: 50px;
  margin-bottom: 20px;
  color: aquamarine;
  font-size: 30px;
  width: 300px;

}

.bt
{
    color: #4bbcf1e8;
    font-size: 30px;
}
.mobiles-container .box .price
{
    font-size: 1rem;
font-weight: 600;
    margin-top: 0.5rem;
    color: #ee00ffe8;
}
.mobiles-container .box .price span{
    color: var(--text-color);
}
.mobiles-container .box .bx-cart-alt
{
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 10px;
    background: var(--green-color);
    color: var(--bg-color);
    font-size: 20px;
    border-radius: 0.5rem 0 0.5rem 0;
    cursor: pointer;
}
.mobiles-container .box .bx-cart-alt:hover
{
    background-color: #ee00ffe8;
}
.mobiles-container .box .bx-heart
{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 20px;
    color: #ee00ffe8;
}
.mobiles-container .box .discount
{
    position: absolute;
    top: 1rem;
    left: 0rem;
    color: var(--bg-color);
    padding: 4px 18px;
    background: #ee00ffe8;
    clip-path: polygon(100% 0%, 75% 50%,100% 100%,0 100%,0% 50%,0 0);
}
